<div class="col-sm-6">

<h2 class="<%= @match.id %>"><%= @match.id %> was the id of this game game</h2>

<ul>
  <li><strong>Mode:</strong> <%= @match.mode %></li>
  <li><strong>Type:</strong> <%= @match.match_type %></li>
  <li><strong>Duration:</strong> <%= @match.duration %></li>
</ul>
</div>